<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="ApiHash" value="" />
  <add key="ApiId" value="" />
  <add key="NumberToAuthenticate" value="" />
  <add key="PasswordToAuthenticate" value=""/>
  <add key="TargetUserID" value=""/>
  <add key="Message" value="💎Забрать бонус"/>
</configuration>
